Repository Andre-Profitt/Azure-multi-account-inventory, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yourusername, @devops-team, @backend-team, @data-team, @qa-team, @security-team, @docs-team

Add initial Azure support with collectors and docs
  README.md
  docs/DEPLOYMENT_CHECKLIST.md
  requirements-dev.txt
  requirements.txt
  src/collector/enhanced_main.py
  src/handler.py
  src/query/enhanced_inventory_query.py
  tests/unit/test_azure_collector.py
Owners: @docs-team, @yourusername, @backend-team, @security-team, @devops-team, @data-team, @qa-team

feat: persist Azure inventory
  src/collector/enhanced_main.py
  src/handler.py
  tests/unit/test_azure_collector.py
Owners: @backend-team, @devops-team, @qa-team

Add Azure infrastructure templates and deployment script
  deploy_azure.sh
  docs/DEPLOYMENT_CHECKLIST.md
  infrastructure/main.bicep
Owners: @yourusername, @docs-team

Add Azure deployment script
  README.md
  docs/DEPLOYMENT_CHECKLIST.md
  scripts/deploy-azure.sh
Owners: @docs-team, @yourusername, @devops-team

docs: expand Azure setup
  README.md
  docs/DEPLOYMENT_CHECKLIST.md
Owners: @docs-team, @yourusername

Extend Azure collector with additional resources
  requirements.txt
  src/collector/enhanced_main.py
  tests/unit/test_azure_collector.py
Owners: @backend-team, @security-team, @qa-team

Refactor Azure SQL collector
  src/collector/enhanced_main.py
  tests/unit/test_azure_collector.py
Owners: @backend-team, @qa-team

docs: add docstrings for azure collectors
  src/collector/enhanced_main.py
Owners: @backend-team

Add network cost estimation for Azure
  src/collector/enhanced_main.py
  tests/unit/test_azure_collector.py
Owners: @backend-team, @qa-team

Remove unused encryption variable
  src/collector/enhanced_main.py
Owners: @backend-team

refactor state extraction
  src/query/inventory_query.py
Owners: @backend-team, @data-team

Remove audit packages
  pyproject.toml
Owners: @backend-team

Rename local lambda test and mark as integration
  tests/test_lambda_locally.py
Owners: @qa-team, @backend-team

Improve basic unit test
  tests/unit/test_basic.py
Owners: @qa-team, @backend-team

docs: streamline setup and move details
  README.md
  docs/COST_ANALYSIS.md
  docs/FEATURES.md
  docs/USAGE_EXAMPLES.md
Owners: @docs-team, @yourusername

Remove old backup and ignore backups
  .gitignore
  backups/20250623_130208/src_backup/__init__.py
  backups/20250623_130208/src_backup/collector/__init__.py
  backups/20250623_130208/src_backup/collector/enhanced_main.py
  backups/20250623_130208/src_backup/collector/main.py
  backups/20250623_130208/src_backup/common/__init__.py
  backups/20250623_130208/src_backup/lambda/__init__.py
  backups/20250623_130208/src_backup/lambda/enhanced_handler.py
  backups/20250623_130208/src_backup/lambda/handler.py
  backups/20250623_130208/src_backup/query/__init__.py
  backups/20250623_130208/src_backup/query/enhanced_inventory_query.py
  backups/20250623_130208/src_backup/query/inventory_query.py
  backups/20250623_130208/terraform_backup/main.tf
  backups/20250623_130208/terraform_backup/main_consolidated.tf
  backups/20250623_130208/terraform_backup/modules/inventory-role/main.tf
  backups/20250623_130208/terraform_backup/modules/inventory-role/outputs.tf
  backups/20250623_130208/terraform_backup/modules/inventory-role/variables.tf
  backups/20250623_130208/terraform_backup/outputs.tf
  backups/20250623_130208/terraform_backup/target-account-role/main.tf
  backups/20250623_130208/terraform_backup/terraform.tfvars.example
  backups/20250623_130208/terraform_backup/variables.tf
  backups/20250623_130208/terraform_backup/variables_consolidated.tf
Owners: @yourusername

Fix handler import path in local lambda test
  tests/test_lambda_locally.py
Owners: @qa-team, @backend-team

Remove duplicate deploy scripts and update docs
  README.md
  audit_local.sh
  deploy_azure.sh
  docs/DEPLOYMENT_CHECKLIST.md
  scripts/deploy.sh
Owners: @docs-team, @yourusername, @devops-team

fix handler path
  cloudformation/complete-infrastructure.yaml
  cloudformation/lambda-collector.yaml
Owners: @devops-team, @yourusername

feat: add Azure collector and cost analysis
  .github/workflows/ci.yml
  README.md
  config/azure_subscriptions.json
  infrastructure/function_app_appsvc.bicep
  infrastructure/lighthouse/delegation.bicep
  requirements-dev.txt
  requirements.txt
  src/analysis/cost_azure.py
  src/analysis/security_azure.py
  src/azure_collect.py
  src/azure_function_main.py
  tests/test_azure_collect.py
Owners: @devops-team, @yourusername, @docs-team, @backend-team, @security-team, @qa-team

Add Azure Resource Graph collector
  requirements-dev.txt
  requirements.txt
  src/__init__.py
  src/azure_collect.py
Owners: @backend-team, @security-team, @yourusername

Add Azure Lighthouse modules and Function App deployment
  infrastructure/function_app_appsvc.bicep
  infrastructure/lighthouse/customRole.bicep
  infrastructure/lighthouse/delegation.bicep
  infrastructure/lighthouse/main.bicep
Owners: @yourusername

Add Azure policy security collection
  requirements.txt
  src/collector/azure_policy_client.py
  src/collector/enhanced_main.py
  src/handler.py
  tests/unit/test_azure_policy_client.py
Owners: @backend-team, @security-team, @devops-team, @qa-team

Add Azure cost collection
  pyproject.toml
  requirements.txt
  src/analysis/__init__.py
  src/analysis/cost_azure.py
  src/handler.py
Owners: @backend-team, @security-team, @yourusername, @devops-team

Update CI workflow
  .github/workflows/ci.yml
Owners: @devops-team, @yourusername

Update Azure dependencies
  requirements.txt
Owners: @backend-team, @security-team

feat(logging): integrate structlog and add type hints
  README.md
  docs/ENHANCED_FEATURES.md
  requirements.in
  requirements.txt
  src/collector/enhanced_main.py
  src/common/logger.py
  src/handler.py
Owners: @docs-team, @yourusername, @backend-team, @security-team, @devops-team

Add Azure subscriptions config example and docs
  .gitignore
  README.md
  config/azure_subscriptions.json.example
Owners: @yourusername, @docs-team

docs: add azure quick start and examples
  README.md
Owners: @docs-team, @yourusername

docs: clarify async Azure collector
  README.md
Owners: @docs-team, @yourusername

Add pytest-cov to base requirements
  requirements.txt
Owners: @backend-team, @security-team

chore(ci): run full checks on pull requests
  .github/workflows/ci.yml
Owners: @devops-team, @yourusername

docs: restore Azure config example
  README.md
Owners: @docs-team, @yourusername

Set function app storage connection via key
  infrastructure/function_app_appsvc.bicep
Owners: @yourusername

fix: use principalTenantId param in lighthouse delegation
  infrastructure/lighthouse/delegation.bicep
Owners: @yourusername

chore: ensure ci workflow uses list format
  .github/workflows/ci.yml
Owners: @devops-team, @yourusername

fix: remove invalid unit for cost metric
  src/handler.py
Owners: @backend-team, @devops-team

Update Azure dependency version
  requirements.txt
Owners: @backend-team, @security-team

Make session_name parameter optional
  src/collector/enhanced_main.py
Owners: @backend-team

Fix dev install and tests
  requirements-dev.txt
  requirements.txt
Owners: @backend-team, @security-team

.github/CODEOWNERS:

# Code Owners for AWS Multi-Account Inventory

# Default owners for everything in the repo
* @yourusername

# Infrastructure and deployment
/terraform/ @devops-team @yourusername
/cloudformation/ @devops-team @yourusername
/scripts/ @devops-team

# Core application code
/src/ @backend-team @yourusername
/src/collector/ @backend-team
/src/query/ @backend-team @data-team

# Lambda handlers
/src/handler.py @backend-team @devops-team

# Testing
/tests/ @qa-team @backend-team

# Audit and security
/audit/ @security-team @devops-team
/.github/workflows/security-scan.yml @security-team
/.github/workflows/dependency-check.yml @security-team

# Documentation
*.md @docs-team @yourusername
/docs/ @docs-team

# Configuration files
requirements*.txt @backend-team @security-team
pyproject.toml @backend-team
.pre-commit-config.yaml @backend-team @security-team

# GitHub configuration
/.github/ @devops-team @yourusername
